* {
    margin: 0px;
    padding: 0px;
}

body {
    /* margin:10px; */

    background-color: yellowgreen;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;

    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */


}

h1 {
    color: white;
    background-color: darkslategrey;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    /* position:absolute;
    margin:0 px; */

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container div {
    /* 
    flex-direction: row;
    flex-wrap: wrap;
     */
    padding: 20px;
    margin: 20px;
    height: 250px;
    width: 250px;
    flex-grow: 2;
    flex-basis:15%;



}